.cross-section-grid {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "slide-1" "slide-2" "slide-3" "slide-4"; }

.cross-section-item-1 {
  grid-area: slide-1; }

.cross-section-item-2 {
  grid-area: slide-2; }

.cross-section-item-3 {
  grid-area: slide-3; }

.cross-section-item-4 {
  grid-area: slide-4; }

.cross-section-item {
  width: 90%;
  height: auto;
  margin-bottom: 30px;
  transition: transform .2s;
  /* Animation */ }
  .cross-section-item img {
    width: 100%;
    height: auto;
    cursor: pointer; }

.cross-section-item:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }

/* #### Desktops #### */
@media screen and (min-width: 900px) {
  .cross-section-grid {
    display: grid;
    grid-template-columns: 5% 20% 3% 20% 3% 20% 3% 20% 5%;
    grid-template-rows: auto;
    grid-template-areas: ". slide-1 . slide-2 . slide-3 . slide-4 ."; } }
.cross-section-param-grid {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "slide-1" "slide-2" "slide-3"; }

.cross-section-param-item-1 {
  grid-area: slide-1; }

.cross-section-param-item-2 {
  grid-area: slide-2; }

.cross-section-param-item-3 {
  grid-area: slide-3; }

.cross-section-param-item {
  width: 90%;
  height: auto;
  margin-bottom: 30px;
  transition: transform .2s;
  /* Animation */ }
  .cross-section-param-item img {
    width: 100%;
    height: auto;
    cursor: pointer; }

.cross-section-param-item:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }

.param {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 30px; }

label.param {
  margin-right: 20px;
  font-size: 24px;
  font-style: italic; }

input.param {
  width: 30%;
  font-size: 24px; }

select.param {
  width: 20%; }

.form-group {
  clear: both; }

.rightMirgin {
  margin-right: 33px !important; }

/* #### Desktops #### */
@media screen and (min-width: 900px) {
  .cross-section-param-grid {
    display: grid;
    grid-template-columns: 3% 30% 2% 30% 2% 30% 3%;
    grid-template-rows: auto;
    grid-template-areas: ". slide-1 . slide-2 . slide-3 ."; }

  .param {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 30px; }

  label.param {
    margin-right: 20px;
    font-size: 24px;
    font-style: italic; }

  input.param {
    width: 30%;
    font-size: 24px; }

  select.param {
    width: 70px; }

  .form-group {
    clear: both; }

  .rightMirgin {
    margin-right: 33px !important; } }

/*# sourceMappingURL=cross-section-grid.css.map */
