.main-grid {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "slide-1" "slide-2" "slide-3" "slide-4";
}

.item-1 {
  grid-area: slide-1;
}

.item-2 {
  grid-area: slide-2;
}

.item-3 {
  grid-area: slide-3;
}

.item-4 {
  grid-area: slide-4;
}

.item {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  transition: transform 0.2s;
  /* Animation */
}
.item img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.05);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {
  .main-grid {
    display: grid;
    grid-template-columns: 4% 20% 2% 20% 2% 20% 2% 20% 4%;
    grid-template-rows: auto;
    grid-template-areas: ". slide-1 . slide-2 . slide-3 . slide-4 .";
  }
}

/*# sourceMappingURL=main-grid.css.map */
