#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  font-family: "Comfortaa", regular;
}
#navbar .navbar-brand {
  font-family: "Pacifico", cursive;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar {
  background-color: #2f3b83;
  font-size: 12px;
}

.navbar .navbar-brand {
  color: white;
  font-size: 20px;
}

.navbar .navbar-brand:hover {
  color: #2f3b83;
}

.navbar .navbar-nav li a {
  color: white !important;
}

.navbar .dropdown .dropdown-menu li a {
  color: #2f3b83 !important;
}

.navbar .dropdown .dropdown-menu li a:hover {
  color: white !important;
  background-color: black;
  opacity: 0.5;
}

.navbar-toggle {
  background-color: #2f3b83;
}

/* <<<<<<<<<<<<<<bootstrap navbar  hide when scrolling down */

/*# sourceMappingURL=navbar.css.map */
