body, html {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: rgba(255, 255, 190, 0.75) url("../images/notebook_texture2460.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  padding-top: 40px;
  box-shadow: 0 400px 300px -300px LightSkyBlue inset;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Encode";
  src: url("../fonts/Encode font/EncodeSansCondensed-Regular.ttf");
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/my font/Comfortaa/Comfortaa-Regular.ttf");
}
.my-title {
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  color: DarkSlateBlue;
  font-family: "Comfortaa", regular;
  margin-bottom: 30px;
}

.main {
  font-size: 30px;
  margin-top: 10px;
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {
  .my-title {
    font-size: 3rem;
  }
}
.work figure {
  float: left;
  width: 91%;
  height: auto;
  line-height: auto;
  position: relative;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
}

.work figure.white dl {
  background: #FFF;
}

.work figure dl {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  line-height: 2.5;
  color: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.work figure:hover dl {
  opacity: 1;
}

.work figure dl dt {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  margin-left: 10%;
  color: #777;
  text-align: left;
  line-height: 100%;
  margin-top: 20px;
}

.work figure dl dd {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;
  color: #999;
  width: 80%;
  text-align: left;
}

#fig1 {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
