.main-grid {
  display: grid;
  width:100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "slide-1"
    "slide-2"
    "slide-3"
    "slide-4"
    //justify-items:center;
}
@for $i from 1 through 4{
  .item-#{$i}{
    grid-area:slide-#{$i};
  }
}
.item{
width:100%;
height:auto;
margin-bottom:30px;
transition: transform .2s; /* Animation */
img{
  width:100%;
  height:auto;
  cursor:pointer;
}
}
.item:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* #### Desktops #### */
@media screen and (min-width: 1024px){
  .main-grid {
    display: grid;
    grid-template-columns: 4% 20% 2% 20% 2% 20% 2% 20% 4%;
    grid-template-rows: auto;
    grid-template-areas:
      ". slide-1 . slide-2 . slide-3 . slide-4 ."


  }
}
