#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display:block;
  transition: top 0.3s;
  font-family: 'Comfortaa', regular;
  .navbar-brand{
  font-family: 'Pacifico', cursive;

  }
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

$default-color:#2f3b83;
$font-color:white;//#cef96f;//#7bf9dd;

.navbar{
  background-color:$default-color;
  font-size: 12px;
}

.navbar .navbar-brand{
  color:$font-color;//цвет шрифта лого
  font-size: 20px;
}

.navbar .navbar-brand:hover{
  color:$default-color;
}
.navbar .navbar-nav li a{
  color:$font-color !important;
}
.navbar .dropdown .dropdown-menu li a{
    color:$default-color !important;
}
.navbar .dropdown .dropdown-menu li a:hover{
    color:$font-color !important;
    background-color:black;
    opacity:0.5;
}
.navbar-toggle{
  background-color:$default-color;
}
/* <<<<<<<<<<<<<<bootstrap navbar  hide when scrolling down */
