
body, html{
    margin:0;
    padding:0;
}
html{
  box-sizing: border-box;
 }
body{
  //background-color:#2c3c7c;
  background : rgba(255, 255, 190, .75) url("../images/notebook_texture2460.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% auto;

  padding-top:40px;
  box-shadow: 0 400px 300px -300px LightSkyBlue    inset;

  border-top: 1px solid transparent ;
  border-bottom: 1px solid transparent ;

}
  @font-face { font-family: 'Pacifico'; src: url('../fonts/Pacifico/Pacifico-Regular.ttf'); }
  @font-face { font-family: 'Encode'; src: url('../fonts/Encode font/EncodeSansCondensed-Regular.ttf'); }
  @font-face { font-family: 'Comfortaa'; src: url('../fonts/my font/Comfortaa/Comfortaa-Regular.ttf'); }
.my-title{
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  color:DarkSlateBlue;
  font-family:'Comfortaa', regular;
  margin-bottom: 30px;
  //font-family: 'Pacifico', cursive;
}

.main{
  //padding:15px 15px 500px;
  font-size:30px;
  margin-top:10px;
}
/* #### Desktops #### */
@media screen and (min-width: 1024px){
   .my-title{
     font-size: 3rem;
   }
}
.work figure {
  float:left;
	width:91%;
  height:auto;
  line-height:auto;
  position: relative;
  // padding: 0 !important;
  // margin: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	background-color:#FFF;
}

.work figure.white dl{
    background: #FFF;
}


// .work figure img {
//   height: auto;
//   width: 100%;
//
//   // border: 2px solid red;
//   // padding: 10px;
//   // border-radius: 25px;
//
//   // box-shadow: 5px 10px 8px white;
//
//   //box-shadow: 0 0 10px rgba(0,0,0,0.5);
// //   box-shadow: 5px 10px 16px #6495ED;
// }

// @for $i from 1 through 4{
//   .item-#{$i}-img{
//     border: 2px solid red;
//     padding: 10px;
//     border-radius: 25px;
//   }
// }


.work figure dl {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // padding: 10px;
    margin: 0;
    line-height: 2.5;
    color: white;



    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.work figure:hover dl {
    opacity: 1;
}

.work figure dl dt {
	font-family: Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  // margin-bottom:10px;
	font-weight:600;
	width:80%;
	margin-left:10%;
	color:#777;
	text-align:left;
	// height:16px;
	line-height:100%;
	margin-top:20px;

}

.work figure dl dd {

	font-family: Helvetica, sans-serif;
  font-size: 14px;
	font-weight:400;
	margin-top:10px;
  margin-left:10%;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	line-height:100%;
	color:#999;
	width:80%;
	text-align:left;

}

// #clculation_type dl{
//   margin-top:10px;
// }

 #fig1{
    // margin-left: 10vw;
    // margin-right: 30vw;
   	width:100%;
    height:auto;
 }
